<!DOCTYPE html>
<html>
<head>
    <title>DeepEye Lab</title>
    <link href="{{ url_for('static',filename='css/materialize.min.css') }}" rel="stylesheet" type="text/css"/>
    <style media="screen">
        .main-area {
            margin-bottom: 340px;
        }
    </style>
</head>
<body>
    <nav class="purple darken-4">
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">DeepEye Lab</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Home</a></li>
          <li><a href="#">Project</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </nav>
    <div class="parallax-container">
      <div class="parallax"><img src="static/images/bck1.png"></div>
    </div>
    <div class="section white">
      <div class="row container">
          <div class="">
              <h1>病理库</h1>
          </div>
          <div class="col s6">
              <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                      <!-- <label for="file-picker">上传文件</label> -->
                      <div class="file-field input-field">
                        <div class="btn purple darken-3">
                          <span>File</span>
                          <input id="file-picker" type="file" name="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate " type="text" placeholder="Upload one or more files">
                        </div>
                      </div>
                      <!-- <input id="file-picker" type="file" name="file" multiple> -->
                  </div>
                  <div id="msg"></div>
                  <button class="btn btn-default purple darken-3" type="submit" id="upload-button">上传</button>
              </form>
              <ul id="staggered-test">
                  {% for entry in root_dir.children recursive %}
                  <li>
                      {% if entry.url_path %}
                      <h4><a href="{{ url_for('slide', path=entry.url_path) }}">
                          {{ entry.name }}
                      </a></h4>
                      {% else %}
                          {{ entry.name }}
                      {% endif %}

                      {% if entry.children %}
                      <ul>
                          {{ loop(entry.children) }}
                      </ul>
                      {% endif %}
                  </li>
                  {% else %}
                  <li class="none">None</li>
                  {% endfor %}
              </ul>
          </div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="static/images/bck2.png"></div>
    </div>
    <footer style="margin-top: 0px" class="page-footer purple darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'tiff') || (ext == 'svs'))
            {
                $("#msg").text("支持上传文件")
            }
            else
            {
                $("#msg").text("不支持上传文件")
                document.getElementById("file-picker").value ="";
            }

        }


    } );
</script>
<script type="text/javascript">
    console.log('ceui');
     var options = [
       {selector: '#staggered-test', offset: 50},
       {selector: '#staggered-test', offset: 205},
       {selector: '#staggered-test', offset: 500, callback: function(el) {
         Materialize.showStaggeredList($(el));
         $("#call-3").velocity({ backgroundColor: "#333", color: "#ef5350" }, {duration: 500});
       } },
     ];
     Materialize.scrollFire(options);
 </script>
 <script type="text/javascript">
     $(document).ready(function(){
      $('.parallax').parallax();
    });
 </script>
</html>
